@model IEnumerable<Post>

@{ 

}
<h2>Admin Panel</h2>

<a asp-controller="Panel" asp-action="Edit">
   <input type="button" value="Create New Post"/> 
</a>

<div>
    <ul>
        @foreach(var post in Model)
        {
        <li>
                @post.Title
            -
            <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.id">
                <input type="button" value="Edit post"/
            </a>
            -
            <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.id">
                <input type="button" value="Remove post"/
            </a>

        </li>
        }
    </ul>
</div>